@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-400.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-500.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-600.woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-700.woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair-700.woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/Playfair-800.woff2");
  font-weight: 800;
  font-style: normal;
}
